@charset "utf-8";
/* CSS Document */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,div {margin:0; padding:0;}
html,body,{width:100%;height:100%;}
fieldset,img {border:none;}
img {display:block;}
address,caption,cite,code,dfn,th,var { font-style:normal; font-weight:normal;}
ul,ol {list-style:none;} 

body {color:#333;  font:14px/24px "微软雅黑","宋体","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;color:#333;}
 
a {color:#333; text-decoration:none;}
a:hover {color:#333;}
.layout {width:1202px; margin:0 auto; clear:both; }

#white {color:#fff;}
#red{color:red;}
/* adv begin */

.adv{width: 100%;height: 160px;position:relative;}
   
    .adv-top{height: 130px;background: url(../image/1012.png) no-repeat;background-size: 100% 100%;position:relative;}
     .adv-top span{display:block;width: 17px;height: 22px;background-color: rgba(0,0,0,0.3);position: absolute;top:20px;right:52px;text-align: center;font-size: 14px;}

    .adv-bottom{height:30px;background:#F2F2F2;}
      .adv-l{width: 260px;height: 30px;float:left;}
        .adv-l a{color:red;text-decoration: underline;}

      .adv-r{float:right;margin-right: 10px;}
       .adv-r li{padding:0 10px 0;float:left;height:30px;line-height: 30px;text-align: center;position:relative;}
         .adv-r li .u1{position:absolute;width:100px;height: 150px;border: 1px solid #ccc;z-index: 4; background-color: white;display:none;}
         .adv-r li .u2{position:absolute;width:230px;height: 73px;border: 1px solid #ccc;z-index: 4; background-color: white;left:-136px;display:none;}
         .adv-r .u3{position:absolute;width:140px;height: 140px;z-index: 4; background-color: white;left:-136px;display:none;}
        .adv-r .u1 a, .adv-r .u2 a{width: 99px;height: 30px;display:block;width:106px;text-align: center;color:black;}
        .adv-r .u2 a{width: 230px;}
        .adv-r .u3{width: 100px;height: 100px;}
       .adv-r ul li:hover{background-color: #fff; }
  /* adv over */ 


 .footer{width: 100%;height: 100px;background:#000000;font-size: 14px;
    color:white;
    padding-top: 30px;
    text-align: center;
    font-weight: bolder;

}
.footer a{
    color:white;
    margin: 0 5px;
} 